<!-- views/partials/head.ejs -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Kyle Moses | Web Developer</title>
<meta name="author" content="Kyle Moses">
<meta name="description" content="Kyle Moses is a talented front end web developer who excels at finding creative ways to build user interfaces and experiences">
<meta name="keywords" content="HTML5, CSS3, Front-End, Web, Developer, JavaScript, JS, jQuery, Angular, React, Object Oriented, Node, Express">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="./css/style.css">
