<% include ../partials/header %>
		<div class="container">
			<h2>Contact Me</h2>
			<form name="contact" id="contact">
				<label for="name">Name:
					<input type="text" id="name" name="name" placeholder="Your Name"></input>
				</label>
				<label for="email">Email:
					<input type="email" id="email" name="email" placeholder="example@email.com"></input>
				</label>
				<label for="subject">Subject:
					<input type="text" id="subject" name="subject" placeholder="Hey, Kyle!"></input>
				</label>
				<label for="message">Message:
					<textarea id="message" name="message" cols="40" rows="10" placeholder="I would like to hire you..."></textarea>
				</label>
				<p id="contactMsg"></p>
				<input name="submit" type="submit" value="Send" id="submit"></input>
			</form>
		</div>
<% include ../partials/footer %>
