<% include ../partials/header %>
	<p class="container elevator_speach"><%= data.elevator_speach %></p>
	<div class="container links">
		<a href="https://github.com/kylemoses" target="_blank" title="check me out on GitHub">
			<img src="img/svg/github.svg" alt="GitHub Octo-cat icon" /><span>GitHub</span>
		</a>
		<a href="https://www.linkedin.com/in/kylemoses/" target="_blank" title="visit my LinkedIn profile">
			<img src="img/png/in.png" alt="LinkedIn logo" /><span>LinkedIn</span>
		</a>
		<a href="docs/kylemoses_resume.pdf" target="_blank" title="download my resume!"> 
			<img src="img/svg/resume.svg" alt="resume icon" /><span>Resume</span>
		</a>
		<a href="/contact">
			<img src="img/svg/email.svg" alt="portfolio icon" /><span>Contact</span>
		</a>
	</div>
<% include ../partials/footer %>
